@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    /* background-color: #f7f9fb
    color: #7f8c8d;
    margin: 0px;
    padding: 0px; */

}
h1, h2, h3 {
    font-family: 'Lato', sans-serif;
    /* font-weight: 400; */
    /* color: #333;
    font-size: 27px; */
}

p {
    font-weight: 300;
    /* margin-right: 75px; */
}

.spacer {
    margin: 30px 0px;
}

.med-spacer {
    margin: 20px 0px;
}

.baby-spacer {
    margin: 10px 0px;
}

.nav-item > .active {
    color:#ababab
}

.nav-item:hover:not(.active) {
    color:#ababab
}

.navbar {
    background-color: #333333;
}
.navbar a {
    color: white;

}

li:not(:last-child) {
    margin-bottom: 20px;
}

img {
    border-radius: 25%;
}

.resume {
    border-radius: 0%;

}

#about {
    text-align: center;
}

#fancy {
    color: #508585;
}
