@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

}
h1, h2, h3 {
    font-family: 'Lato', sans-serif;
}

p {
    font-weight: 300;
}

.top-spacer {
    margin: 50px 0px 0px 0px;
}

.lg-spacer {
    margin: 40px 0px;
}

.spacer {
    margin: 30px 0px;
}

.med-spacer {
    margin: 20px 0px;
}

.baby-spacer {
    margin: 10px 0px;
}

.nav-item > .active {
    color:#ababab
}

.nav-item:hover:not(.active) {
    color:#ababab
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: white;
}


.navbar {
    background-color: #333333;
}
.navbar a {
    color: white;

}

img {
    border-radius: 25%;
}

.resume {
    border-radius: 0%;

}

.p-header {
    text-align: center;
}

#about {
    text-align: center;
}

#fancy {
    color: #428bca;
}

:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}


.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.icons {
    border-radius: 25%;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
}
