@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

body {
    font-family: 'Open Sans', sans-serif;
    color: #7f8c8d;
    margin: 0px;
    padding: 0px;

}
h1, h2, h3 {
    font-family: 'Slabo 27px', serif;
}

#navbar {
    background-color: #333;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
#navbar ul {
    list-style-type: none;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #333;
    position: fixed;
    top: 0;
}

#project-list ul {
    margin: 0;
    list-style-type: none;
}
#project-list li:first-child {
    margin-top:0;
}
#project-list ul li {
    padding: 10px;
    overflow: auto;
    margin: 50px 0;
}
#p-intro {
    text-align: center;
    font-size: 4em;
}

#navbar ul li {
    float: left;
}

img {
    border-radius: 25%;
}

#navbar ul li a {
    text-decoration: none;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

.active{
    background-color: #4CAF50;
}
#navbar ul li a:hover:not(.active) {
    background-color: #111;
}

.navbar_right {
    float: right;
    text-decoration: none;
}


#project-list li img {
    float: left;
    margin: 0 150px 0 0;
}

#intro {
    font-size: 4em;
    float: center;
}

#about {
    text-align: center;
}

#fancy {
    color: #9DE79C;
}
